<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio-digital architecture questionnaire</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>{{ qnum + 1 }} / {{ total }}</h1> <!-- <h1>Question {{ qnum + 1 }} / {{preselected_answer}}</h1> -->
        <img src="{{ url_for('static', filename=image_name) }}" alt="Question Image" class="question-image">
        <form method="POST">
            <div class="multi-button">
                {% for emoji in options %}
                <input type="radio" id="option{{ loop.index }}" name="answer" value="{{ emoji }}" {% if emoji|string == preselected_answer %}checked{% endif %}>
				<label for="option{{ loop.index }}">
                    {% if emoji == 0 %}
                    <i class="fas fa-dizzy fa-2x"></i>
                    {% elif emoji == 1 %}
                    <i class="fas fa-frown fa-2x"></i>
                    {% elif emoji == 2 %}
                    <i class="fas fa-meh fa-2x"></i>
                    {% elif emoji == 3 %}
                    <i class="fas fa-smile fa-2x"></i>
                    {% elif emoji == 4 %}
                    <i class="fas fa-grin-stars fa-2x"></i>
                    {% endif %}
                </label>
                {% endfor %}
            </div>
            <div  class="button-container">
				<button type="submit" name="navigate" value="previous" class="left-arrow" >
					<i class="fas fa-arrow-left"></i> <!-- Replace text "Go Back" with icon --> 
				</button>
				<div class="error-placeholder">
                    {% if error %}
                    <div class="error">{{ error|safe }}</div> <!-- Make sure the error message is rendered as HTML -->
                    {% endif %}
                </div>
				<button type="submit" name="navigate" value="next" class="right-arrow">
					<i class="fas fa-arrow-right"></i> <!-- Replace text "Next" with icon --> 
				</button>
			</div>
			<div class="pause-container">
                <div class="pause-rectangle">
                    <button type="submit" name="pause" class="pause-button">
                        <i class="fas fa-pause"></i> 
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

